.content {
	width: calc(100% - 5rem * 2);
	padding: 1rem 5rem;
	overflow: hidden auto;
}
.content section {
	height: max-content;
	width: calc(100% - 2rem * 2);
	padding: 1rem 2rem;
	margin: 1rem 0;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	background: var(--alt-background);
	border-radius: 1rem;
	overflow: hidden;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}
.content section select, .content section input {
	background: var(--alt-2-background);
}
.properties {
	height: 100%;
	width: calc(50% - 2rem);
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	flex-direction: column;
}
.properties * {
	margin: 1rem 0;
	height: 2.5rem;
}
.content canvas {
	width: 50%;
}
@media screen and (max-width: 1195px) {
	.content {
		width: calc(100% - 1rem * 2);
		padding: 1rem 1rem 2rem 1rem;
	}
	.content section {
		width: calc(100% - 1rem * 2);
		padding: 1rem;
	}
	.content section > .container:nth-child(2) {
		flex-direction: column;
		width: 100%;
	}
	.properties, .content section > .container canvas {
		width: 100%;
	}
}