.container {
	width: calc(100% - 5rem * 2);
	display: flex;
	flex-direction: column;
	padding: 3rem 5rem;
	font-family: "Oswald", serif;
}
.container h1 {
	text-align: center;
}
.container h2 {
	margin: 0;
}
.container h3 {
	margin: 0;
}
.container b {
	font-weight: bolder;
}
@media screen and (max-width: 1195px) {
	.container {
		width: calc(100% - 1rem * 2);
		padding: 1rem 1rem 1rem;
	}
}