.content {
	width: calc(100% - 5rem * 2);
	padding: 1rem 5rem;
	overflow: hidden auto;
}
.content select {
	width: 90%;
	height: 2.5rem;
}
.container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content canvas {
	width: 100%;
}

@media screen and (max-width: 1195px) {
	.content {
		width: calc(100% - 1rem * 2);
		padding: 1rem 1rem 2rem 1rem;
	}
}